	<!-- <title><%=((typeof titulo === "undefined" || !titulo) ? "Projeto" : (titulo + " - Projeto")) %></title> -->

	<!DOCTYPE html>
	<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/public/css/style.css" />

	
	</head>
	
	<body>
		
		<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light header border-bottom border-light"">
			<a class="navbar-brand" href="/"><img src="../public/images/logo-mrv-engenharia-branca.png" alt="logo da mrv"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse teste2" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto headerItems">
				<li class="nav-item active">
				  <a class="nav-link" id="headerOportunidades" href="#">OPORTUNIDADES</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" id="headerAjuda" href="#">AJUDA <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" id="headerLogin" href="#">LOGIN <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" id="headerCadastro" href="#">CADASTRE-SE <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" id="headerPerfil" href="#">PERFIL<span class="sr-only">(current)</span></a>
				  </li>
			   
			  </ul>
	   
			</div>
		  </nav>
	
